{% extends 'base.html' %}


{% block title %}<title>{{ object.name }}</title>{% endblock %}



{% block content %}
<div class="container-fluid mt-5">
  <div class="row no-gutters">


    <div class="col-md-2 d-none d-sm-block">
      
    </div>


    <div class="col-md-8 col-sm-12">
      <div class="">
        <h1>{{ object.name }}</h1>
        
        <p>{{ object.status }}</p>
      </div>
      <a href="{% url 'device:list' %}">back to list of devices</a>
    </div>
    <div class="col-md-2 d-none d-sm-block">
    </div>
  </div>
  
  
</div>



{% endblock %}
